<!doctype html>
<html>
<body>
<h1>Crossword grid parser</h1>
{% if error_msg %}
<p>Error: {{ error_msg }}</p>
{% endif %}
<p>This program takes an image of a crossword grid and converts it into
a spreadsheet that can be uploaded to Google Sheets.</p>
<h5>Image files:</h5>
<p>Right click on the crossword grid, select, "Save Image As", and then upload the image here.
</p>
<h5>PDF files:</h5>
<p>Download the PDF, and then upload it here.</p>
<h5>Otherwise:</h5>
<p>Take a screenshot.  Cropping the screenshot might help but usually isn't necessary.</p>
<h4>Upload an image file</h4>
<form action="view" enctype="multipart/form-data" method="post">
<input type="file" name="file"/><br/>
<input type="submit" value="Upload"/>
</form>
{% if config.URLOPEN_ENABLED %}
<h4>Specify an image URL</h4>
<form action="view" method="post">
<input type="url" name="url"/><br/>
<input type="submit" value="Submit URL"/>
</form>
{% endif %}
</body>
</html>
